.user {
    width: 250px;
    padding: 15px;
}

.header {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

.intro {
    font-style: italic;
}

.intro-1 {
    padding: 20px;
}

.books {
    padding: 20px;
}

.books-1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.ul {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    left: 50%;
    transform: translateX(-50%);

}
.work{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.table{
    margin-left: auto;
    margin-right: auto;

}
.des{
  left: 65%;
  position: relative;
}
.date{
    right: 55%;
    position: relative;
    
}
.date-1 {
    position: relative;
    right: 1%;

}
.des-1{
    font-style: italic;
    font-size: 13px;
    position: relative;
    left: 40%;
}
.des-2{
    font-style: italic;
    font-size: 13px;
    position: relative;
    left: 30%;

}
.skills-1{
    font-family: 'Poppins', sans-serif;
    text-align: center;

}
.html{
    font-family: 'Poppins', sans-serif;
}
.css{
    font-family: 'Poppins', sans-serif;
    position: relative;
    right: 20%;

}